# Core App & Server
fastapi
uvicorn
python-multipart
email-validator
pydantic-settings
httptools

# Database
sqlalchemy
pymysql

# Authentication & Security
python-jose[cryptography]
bcrypt

# Utilities & Data
httpx
pandas
dirtyjson

# Testing
pytest